<div ng-controller="TechnoCategoryCtrl">
	<div class="page-header">
	  <h1><small>{{technos.length}} technos</small></h1>
	</div>
    <p></p>
    
    <div class="col-sm-4 col-lg-6 col-md-4">
        <table>
          <tr><th>Techno</th></tr>
          <tr ng-repeat="techno in technos">
            <td><a href="#/techno/{{techno.techno}}">{{techno.techno}}</a> ({{techno.count}} sites)</td>
          </tr>
        </table>
    </div>
    
    <div class="col-sm-4 col-lg-4 col-md-4">
	    <pie-chart 
	        data="chartData" title="{{chartTitle}}" 
	        width="{{chartWidth}}" height="{{chartHeight}}"
	        select="selectRow(selectedRowIndex)">
	    </pie-chart>
	</div>
	
</div>