<div ng-controller="CreditsCtrl">
	<div class="page-header">
	  <h1><small>Crédits</small></h1>
	</div>
    <p></p>
<p>Au chapitre des données techniques, cette appli s'appuie sur <a href="https://github.com/gregorybesson/playground" target="_blank">Playground</a> et utilise les modules PlaygroundCore, PlaygroundDesign, PlaygroundUser et PlaygroundTranslate.</p>

<p>La partie Web Services a été réalisée en <a href="http://framework.zend.com/" target="_blank">Zend Framework 2</a>. Elle expose ses services d'interrogation <a href="http://www.alexa.com/" target="_blank">Alexa</a> en ligne de commande et a été créée sous forme d'un module indépendant pour être offert à la communauté ZF2.</p>
<p>L'analyse des technologies est réalisée en se basant sur le fichier de configuration de <a href="http://wappalyzer.com/" target="_blank">wappalyzer</a> (installez-le sur votre navigateur, il est top !).
<p>La partie front a été réalisée en <a href="http://getbootstrap.com/" target="_blank">bootstrap 3</a> et <a href="http://angularjs.org/ target="_blank">angularJS</a> qui permettent une véritable expérience client riche. Cette partie sera encore renforcée dans les prochaines versions.</p> 

<p>Les graphiques étant réalisés en <a href="https://developers.google.com/chart/" target="_blank">Google Charts</a>.</p>
	
</div>
