<div ng-controller="HomeCtrl">
	<div class="page-header">
	  <h1><small>Bienvenue sur Technotop.fr</small></h1>
	</div>
    <p></p>
	<p>Ce site vous permet de connaître le top des sites Français et leurs technologies associées.</p>
	<h3>Et tout ça gratuitement !</h3>
	<p>Le ranking des sites est obtenu via Alexa, LE site de ranking de la société Amazon</p>
	<p>Les technologies sont analysées site par site à partir d'une configuration mise au point par Wappalyzer et améliorée pour ce site et vous trouvez sur la partie gauche les technologies rangées par catégorie.</p>
	
	<p>N'hésitez pas à me faire part de vos remarques / critiques / idées via la page contact. C'est gràce à vous que ce site gagnera en fonctionnalités !</p>
	
	<p>Bonne visite !</p>
</div>